@model IEnumerable<BugTracker.Models.UserProjectListViewModel>

@{
    ViewBag.Title = "ManageProjectUsers";
}

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href=@Url.Action("Dashboard", "Home")>
                <em class="fa fa-home"></em>
            </a>
        </li>      
        <li class="active">Manage Project Users</li>
    </ol>
</div>
<br/>
<div class="row">
    <div class="col-md-6" style="padding-top: 17px">
        <br/>
        <br/>
        <div class="panel panel-primary">
            <div class="panel-heading">Manage Project Users</div>
            <div class="panel-body">
                <div class="col-md-12">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken();

                        <div class="col-md-6">
                            <h4>Projects</h4>
                            @Html.ListBox("Projects", null, new { @class = "form-control" })
                            <br />
                            <button type="submit" class="btn btn-primary bigbtn">Submit</button>
                        </div>

                        @*<div class="col-md-offset-1 col-md-5">
                                <button type="submit" class="btn btn-primary bigbtn">Submit</button>
                            </div>*@

                        <div class="col-md-6">
                            @if (User.IsInRole("Admin") || (User.IsInRole("DemoAdmin")))
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>Admin</h4>
                                        @Html.DropDownList("AdminId", null, "-- Select --", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>Project Manager</h4>
                                        @Html.DropDownList("ProjectManagerId", null, "-- Select --", new { @class = "form-control" })
                                    </div>
                                </div>
                            }
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Developers</h4>
                                    @Html.ListBox("Developers", null, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Submitters</h4>
                                    @Html.ListBox("Submitters", null, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        @*<div>
            @Html.ActionLink("Back to List", "Index")
        </div>*@
    </div>
    <div class="col-md-6">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayName("Projects")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @foreach (var name in item.ProjectNames)
                                {
                                    @name
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
    </div>
</div>