@model BugTracker.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href=@Url.Action("Dashboard", "Home")>
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li>
            <a href=@Url.Action("Index")>Manage</a>
        </li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</div>

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h1 class="page-header">@ViewBag.Title</h1>
        <div class="panel panel-primary" id="raise">
            <div class="panel-heading">Change your password form</div>
            <div class="panel-body">
                <div class="col-md-12">
                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-offset-1 col-md-10 col-md-offset-1">
                                    <label>Old Password</label>
                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control"})
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-offset-1 col-md-10 col-md-offset-1">
                                    <label>New Password</label>
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control"})
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-offset-1 col-md-10 col-md-offset-1">
                                    <label>Confirm Password</label>
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control"})
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-8 col-md-offset-2">
                                    <button type="submit" class="btn btn-primary bigbtn">Confirm</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}