@using BugTracker.Models
@using BugTracker.Helpers
@using Microsoft.AspNet.Identity

@model BugTracker.Models.ApplicationUser

@{
    ViewBag.Title = "Edit Profile";
    var db = new ApplicationDbContext();
    var rHelp = new RoleHelper();
    var user = db.Users.Find(User.Identity.GetUserId());
    //var demo = rHelp.isDemoUser(User.Identity.GetUserId());
    var demo = User.IsInRole("DemoAdmin") || User.IsInRole("DemoProject_Manager") || User.IsInRole("DemoDeveloper") || User.IsInRole("DemoSubmitter");
}

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href=@Url.Action("Dashboard", "Home")>
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</div>
<br/>
<p class="text-success">@ViewBag.StatusMessage</p>

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-primary" id="minraise">
            <div class="panel-heading">Edit your profile</div>
            <div class="panel-body">
                <div class="col-md-12">
                    @using (Html.BeginForm("EditProfile", "Manage", FormMethod.Post, new { enctype = "Multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-offset-1 col-md-10">
                                    <h4>First Name</h4>
                                    @if (demo)
                                    {
                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = user.FirstName, name = "disabled", disabled = "disabled" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = user.FirstName })
                                    }
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-offset-1 col-md-10">
                                    <h4>Last Name</h4>
                                    @if (demo)
                                    {
                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = user.LastName, name = "disabled", disabled = "disabled" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = user.LastName })
                                    }
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-offset-1 col-md-10">
                                    <h4>Display Name</h4>
                                    @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control", placeholder = user.DisplayName })
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-offset-1 col-md-10">
                                    <h4>Email</h4>
                                    @if (demo)
                                    {
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = user.Email, name = "disabled", disabled = "disabled" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = user.Email })
                                    }
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-offset-1 col-md-10">
                                    <h4>Avatar</h4>
                                    @Html.TextBox("Avatar", null, new { type = "file"})
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-8">
                                    <button type="submit" class="btn btn-primary bigbtn">Confirm</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}