@using BugTracker.Models
@model LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mr. Miyagi - Demo Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/datepicker3.css" rel="stylesheet" />
    <link href="~/Content/styles.css" rel="stylesheet" />

    <!--Custom-->
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link href="~/Content/myCustom.css" rel="stylesheet" />

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="bg-image">
    <div class="panel panel-container">
        <div class="row">
            <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                <div class="panel panel-teal panel-widget border-right">
                    <div class="row no-padding">
                        @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("emailKey", "DemoAdminEmail")

                            <button type="submit" class="btn btn-default"><h4>Admin</h4><img src="~/Avatars/Ace of Diamonds.jpg" id="pinups" /></button>
                        }
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                <div class="panel panel-blue panel-widget border-right">
                    <div class="row no-padding">
                        @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("emailKey", "DemoProjMgrEmail")

                            <button type="submit" class="btn btn-default"><h4>Project Manager</h4><img src="~/Avatars/King of Hearts.jpg" id="pinups" /></button>
                        }
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                <div class="panel panel-orange panel-widget border-right">
                    <div class="row no-padding">
                        @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("emailKey", "DemoDeveloperEmail")

                            <button type="submit" class="btn btn-default"><h4>Developer</h4><img src="~/Avatars/Queen of Hearts.jpg" id="pinups" /></button>
                        }
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                <div class="panel panel-red panel-widget ">
                    <div class="row no-padding">
                        @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("emailKey", "DemoSubmitterEmail")

                            <button type="submit" class="btn btn-default"><h4>Submitter</h4><img src="~/Avatars/Jack of Hearts.jpg" id="pinups" /></button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body easypiechart-panel">
                    @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("emailKey", "DemoAdminEmail")

                        <button type="submit" class="btn btn-default"><h4>Admin</h4><img src="~/Avatars/Ace of Diamonds.jpg" id="pinups" /></button>
                    }
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body easypiechart-panel">
                    @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("emailKey", "DemoProjMgrEmail")

                        <button type="submit" class="btn btn-default"><h4>Project Manager</h4><img src="~/Avatars/King of Hearts.jpg" id="pinups" /></button>
                    }
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body easypiechart-panel">
                    @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("emailKey", "DemoDeveloperEmail")
                        
                        <button type="submit" class="btn btn-default"><h4>Developer</h4><img src="~/Avatars/Queen of Hearts.jpg" id="pinups" /></button>
                    }
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body easypiechart-panel">
                    @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("emailKey", "DemoSubmitterEmail")
                                                
                        <button type="submit" class="btn btn-default"><h4>Submitter</h4><img src="~/Avatars/Jack of Hearts.jpg" id="pinups" /></button>
                    }
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>